.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.125rem;
  padding: 0 1.5rem 1.5rem;
  border-radius: 1rem;
  background: radial-gradient(
    100% 1406.25% at 0% 100%,
    #0e1d28 32.8%,
    #274359 73.51%
  );

  @media (min-width: 992px) {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-around;
  }
}
