.container {
  text-align: center;
  max-width: 18.5rem;
  background: linear-gradient(
    158.55deg,
    rgba(255, 255, 255, 0.15) 2.41%,
    rgba(196, 196, 196, 0) 100%
  );
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.1);

  @media (min-width: 992px) {
    max-width: 360px;
    margin: 1rem;
  }

  @media (min-width: 1201px) {
    max-width: 440px;
  }

  .location-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;

    img {
      width: 1.25rem;
      height: 1.25rem;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 0.25rem;
    }
  }

  h1 {
    font-size: 1.125rem;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
  }

  .hourly-container {
    display: flex;
    flex-direction: row;
    min-width: 90%;
    overflow-x: scroll;
    margin-top: 1rem;

    .hourly-item {
      display: flex;
      flex-direction: column;
      margin: 0 0.5rem 0.75rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
