<ng-template #emptyState></ng-template>
<section class="container" *ngIf="forecastData?.hourly && showContainer; else emptyState">
  <div class="location-info">
    <p>{{locationData.name}}</p>
    <img
      src="https://flagcdn.com/w40/{{locationData.country.toLowerCase()}}.png"
      alt="{{locationData.country}} flag"
    >
  </div>
  <h1>hourly forecasts</h1>
  <div class="hourly-container">
    <div class="hourly-item" *ngFor="let hourly of forecastData.hourly">
      <span>{{hourly.hour}}</span>
      <svg-icon src="assets/images/forecast-icons/{{hourly.icon}}.svg" [svgStyle]="{'height.rem': 2.5, 'width.rem': 2.5}"></svg-icon>
      <span>{{hourly.temp}}°C</span>
    </div>
  </div>
</section>
