<section class="container">
  <div class="location-info">
    <p>{{locationData.name}}</p>
    <img
      src="https://flagcdn.com/w40/{{locationData.country.toLowerCase()}}.png"
      alt="{{locationData.country}} flag"
    >
  </div>
  <h1>today</h1>
  <div class="content">
    <div class="info-wrapper">
      <div class="left-info">
        <div>
          <div class="left-info-child">
            <span>{{forecastData.temp_kelvin}}</span>
            <svg-icon
              src="assets/images/kelvin.svg"
              [svgStyle]="{'height.rem': 1, 'display': 'flex'}"
            ></svg-icon>
          </div>
          <div class="left-info-child">
            <span>{{forecastData.temp_fahrenheit}}</span>
            <svg-icon
              src="assets/images/farenheit.svg"
              [svgStyle]="{'height.rem': 1, 'display': 'flex'} "
            ></svg-icon>
          </div>
          <div class="left-info-child">
            <span>{{forecastData.humidity}}%</span>
            <svg-icon
              src="assets/images/humidity.svg"
              [svgStyle]="{'height.rem': 1, 'display': 'flex'}"
            ></svg-icon>
          </div>
          <div class="left-info-child">
            <span>{{forecastData.clouds}}%</span>
            <svg-icon
              src="assets/images/clouds.svg"
              [svgStyle]="{'height.rem': 1, 'display': 'flex'}"
            ></svg-icon>
          </div>
          <div class="left-info-child">
            <span>{{forecastData.wind_speed}}<br/>m/s</span>
            <svg-icon
              src="assets/images/wind.svg"
              [svgStyle]="{'height.rem': 1, 'display': 'flex'}"
            ></svg-icon>
          </div>
        </div>
      </div>
      <div class="main-info">
        <svg-icon
          *ngIf="forecastData?.icon"
          src="assets/images/forecast-icons/{{forecastData.icon}}.svg"
          [svgStyle]="{'width.rem': 5.5, 'height.rem': 5.5, 'display': 'flex'}"
        ></svg-icon>
        <div id="main-info-text">
          <span>{{forecastData.description}}</span>
        </div>
        <span>{{forecastData.temp_celsius}}°C</span>
      </div>
    </div>
    <div class="min-max-temp">
      <svg-icon
        src="assets/images/thermometer.svg"
      ></svg-icon>
      <div class="min-max-temp-child">
        <svg-icon
          src="assets/images/arrow-down.svg"
          [svgStyle]="{'height.rem': 1.125, 'display': 'flex'}"
        ></svg-icon>
        <span>{{forecastData.daily[0].min}}°C</span>
      </div>
      <div class="min-max-temp-child">
        <svg-icon
          src="assets/images/arrow-up.svg"
          [svgStyle]="{'height.rem': 1.125, 'display': 'flex'}"
        ></svg-icon>
        <span>{{forecastData.daily[0].max}}°C</span>
      </div>
    </div>
  </div>
</section>
