<section class="container">
  <h2>next 7 days</h2>
  <div class="daily-container">
    <div class="daily-item" >
      <span>Friday</span>
      <svg-icon src="assets/images/forecast-icons/01d.svg" [svgStyle]="{'width.rem': 3, 'height.rem': 3}"></svg-icon>
      <div class="daily-min-max">
        <div>
          <svg-icon src="assets/images/arrow-up.svg" [svgStyle]="{'width.rem': 1, 'height.rem': 1}"></svg-icon>
          <span>21°C</span>
        </div>
        <div>
          <svg-icon src="assets/images/arrow-up.svg" [svgStyle]="{'width.rem': 1, 'height.rem': 1}"></svg-icon>
          <span>21°C</span>
        </div>
      </div>
    </div>
  </div>
</section>
